<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>BANK OF SIMBA ACCOUNTS</h1>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>
        <th>King</th>
        <th>Good or Bad</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${accountStat.index}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.balance}"></td>
        <td th:text="${account.animalType}"></td>
        <td th:text="${account.isKing} ? 'king' : ''"></td>
        <td th:text="${account.isBadGuy} ? 'Bad Guy' : 'Good One'"></td>
    </tr>
</table>
</body>
</html>